/* css styles */

.card-image-top img {
    object-fit: cover;
    width: 100%;
    overflow: clip;
}

/* Carousel styles */
.carousel {
  position: relative;
  width: 100%;
  margin: 1em auto 0.2em auto;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.carousel-slides-wrapper {
  display: flex;
  transition: transform 0.5s cubic-bezier(.77,0,.18,1);
  width: 100%;
  will-change: transform;
}

.carousel-slide {
  min-width: 100%;
  transition: opacity 0.3s;
  opacity: 0.5;
  pointer-events: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.carousel-image-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-slide.active {
  opacity: 1;
  pointer-events: auto;
}

.carousel img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  position: static;
  /* background: #222; */
  color: var(--quarto-body-text);
  padding: 0.5em 0 0 0;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  border-radius: 0 0 10px 10px;
  margin-top: 0;
}
.carousel-caption, .carousel-caption a {
  color: var(--quarto-body-text);
  text-decoration: none;
  cursor: default;
  pointer-events: none;;
}

.carousel-slide a {
  text-decoration: none;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  color: rgba(0,0,0,0.3);
  border: none;
  font-size: 2em;
  padding: 0 0.5em;
  cursor: pointer;
  z-index: 2;
}
.carousel-btn.prev { left: 10px; }
.carousel-btn.next { right: 10px; }